<div class="container">
  <h1>New Organisation</h1>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag 'yu.png', width: "50%" %>
    </div>
    <div class="col-md-9">
      <%= render 'form' %>
      <%= link_to 'Back', tenants_path %>
    </div>
  </div>
</div>
